.container {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 12px;
    background-image: url("Background.png");
    padding: 24px;
}

.topbar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 150px;
    padding-bottom: 475px;
}

.topbar input {
    display: flex;
    width: 311px;
    height: 78px;
    border: none;
    outline: none;
    background: #404054;
    border-radius: 40px;
    padding-left: 40px;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.cityInput_Container {
    flex: 1;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 78px;
    height: 78px;
    background-color: #404054;
    padding-top: 10px;
}

.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 78px;
    height: 78px;
    background-color: #404054;
}

.backWardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 78px;
    height: 78px;
    background-color: #404054;
}

.data_container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 200;
}

.text {
    font-size: 20px;
    font-weight: 200;
}

.icon {
    margin-top: 10px;
}

@media(max-width:500px) {
    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 12px;
        background-image: url("Background.png");
    }

    .topbar {
        display: flex;
        justify-content: center;
        gap: 14px;
        padding-top: 100px;
        padding-bottom: 385px;
    }

    .topbar input {
        display: flex;
        width: 240px;
        height: 78px;
        border: none;
        outline: none;
        background: #404054;
        border-radius: 40px;
        padding-left: 40px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        width: 50px;
        height: 50px;
        background-color: #404054;
        padding-top: 10px;
    }

    .search_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        width: 50px;
        height: 50px;
        background-color: #404054;
    }

    .backWardButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        width: 78px;
        height: 78px;
        background-color: #404054;
    }

}